header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
body {
	
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}

nav ul {
	font-size: 1.2em;
}
nav a:visited {
	color: #344873;
}
nav a:hover {
	color: #FFFFFF;
}
h1 {
	margin-bottom: 0;
	padding: 10px;
}
h2 {
	color: #3399CC;
}
h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}
#contact {
	font-size: 90%;
}
dt {
	color: #000033;
}
footer {
	font-family: Georgia, "Times New Roman", serif;
}

#wrapper{
    padding:10px;
    margin: auto;
    width: 80%;
    min-width: 600px;
}

body {
    background-image: url("ptrbackground.jpg");
     
  }

  #content{
    font-size:200%;
    background:white;
    padding: 15px;
    height: 700px;
    list-style-image:url("marker.gif");
  }

  img{
    float:left;
    height:300px;
    padding:20px;
  }

  #contact{
    background:white;
  }

  
  #resort{
    padding:20px;
  }

  .resort{
    color:#3399CC;
  }

  footer{
    background:white;
  }

  nav {
    width: 250px;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    float: left;
    display: inline;
    background-color: #89CFF0;
    height: 770px;
  }

  nav ul {
    list-style-type: none;
  }

  nav ul >li > a{
    text-decoration: none;
  }

  h1{
    background-image: url("sunset.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:white;
  }